{% extends "todoapp/base.html" %}

{% block content %}

{% if form.errors %}
<p>{{form.error}}</p>
{% endif %}

<form method="post" action="{% url 'todoapp:login' %}">
{% csrf_token %}
<p>
    {{ form.username.label_tag }}
    {{ form.username }}
</p>
<p>
    {{ form.password.label_tag }}
    {{ form.password }}
</p>


<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}