<! DOCTYPE html>

{% load static %}
<html lang="en">

<html>
    <head>
        <meta charset="utf-8">
        <title> {% block title %}Page Title{% endblock %} </title>
        <link rel="stylesheet" type="text/css" href="{% static 'todoapp/style.css' %}"/>
   </head>

   <body>
        {% if user.is_authenticated %}
            <ul class="nav">
                <li> username: <strong><font color="red">{{ user.username }} </font></strong></li>
                <li><a href="{% url 'todoapp:index' %}">Home</a></li>
                <li><a href="{% url 'todoapp:logout' %}">Log Out</a></li>
            </ul>
        {% else %}
            <ul class="nav">
                <li><a href="{% url 'todoapp:index' %}">Home</a></li>
                <li><a href="{% url 'todoapp:login' %}">Log In</a></li>
                <li><a href="{% url 'todoapp:signup' %}">Sign Up</a></li>
            </ul>
        {% endif %}

        {% block content %}
        {% endblock %}

   </body>
</html>