
{% extends 'todoapp/base.html' %}




{% block content %}

<style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_add{
    background-color: blue;
    border: none;
}

.due{
    color:green;
}
</style>
{% load todoapp_filters %}
{% if mylist %}
    <div style="text-align:center"><strong>{{mylist.list_name}}  -- created at {{mylist.created}}</strong></div>
    {% if tasks %}
        {% for task in tasks %}
            <div id="main">
                <div style="text-align:center;border:1px solid green">
                    <p><strong>{{task.task_name}}</strong></p>
                    <p><strong>{{task.description}}</strong></p>
                    {% if task.completed %}
                    <p><strong><font color="green">This task was completed</font></strong></p>
                    {% else %}
                    <p><strong><font color="red">Task is incomplete</font></strong></p>
                        <div class='due_date'>
                     <b class="due">{{ task.to_be_completed|get_due_date_string }}</b>
                    </div>
                    {% endif %}
                    <p>started at {{task.created}}</p>
                    <p>due date {{task.to_be_completed}}</p>
                </div>
                <div style="text-align:center">
                    <a href="{% url 'todoapp:complete' mylist.id task.id %}" class="button">Complete</a>
                    <a href="{% url 'todoapp:delete_task' mylist.id task.id %}" class="button">Delete</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
<div style="text-align:center"><a href="{% url 'todoapp:add_task' mylist.id %}" class="button button_add">Add task</a></div>


{% endif %}

{% endblock %}