
{% extends 'todoapp/base.html' %}


{% block title %}
Task list
{% endblock %}

{% block content %}

<style>
    .tasks {
    list-style-type: none;

    padding: 20px 0 20px 0;
}

.tasks>li>a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.tasks>li {
    text-align: center;
    display: block;
    padding: 0 25px 0 25px
}


.tasks>li:last-child {
    border-bottom: none;
}

.tasks >li>a.active {
    background-color: green;
    color: white;
}

.tasks >li>a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_add{
    background-color: blue;
    border: none;
}
</style>


{% if lists%}
    <ul class="tasks">
        {% for list in lists %}
        <li>
            <a href="{% url 'todoapp:detail' list.id %}">
                <div><strong>{{ list.list_name }}</strong></div>
                <div><strong>created on {{list.created}}</strong></div>
            </a>
        </li>
        {% endfor %}
    </ul>
    <div style="text-align:center"><a href="{% url 'todoapp:add_list'%}" class="button button_add">Add list</a></div>
    {% include 'todoapp/pagination.html' %}
{% else %}
    <h3 align="center"><font color="blue">No tasks to show. Please login or signup</font></h3>

{% endif %}

{% endblock %}