{% if is_paginated %}

<style>
    .pagination {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #333;
    }

    .pagination > li {
    float: left
    }
   .pagination > li a {
        display: block;
        color: blue;
        padding: 8px 16px;
        text-decoration: none;
    }

    .pagination > li a {
        text-align: center;
    }

    .pagination > li  a:hover:not(.active) {
        background-color: #555;
        color: white;
    }
</style>

  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}">
            <span>Previous</span>
          </a>
        </li>

      {% endif %}

      {% for page in paginator.page_range %}
        <li {% if page == page_obj.number %}class="active"{% endif %}>
          <a href="?page={{ page }}">{{ page }}</a>
        </li>
      {% endfor %}
         {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}">
            <span>Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}