body {
    background: white url("images/background.png");
    margin:0;
    padding:0;
    font-family: 'Arial', 'serif';
}

.nav {
    background-color: #595959;
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;

}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px
}

.nav >li > a {
    text-decoration: none;
    color: #ffffff;
}

.nav >li >a :hover {
    color: #c1c1c1
}


